@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

$family-sans-serif: Jost, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$orange: #eb811a;
$orange2: #ec700a;
$orange3: #da5a05;
$red: #d82c20;
$darkred: #5c0006;
$lightred: #f15a4f;
$blue: #2C8ACA;
$lightblue: #56D2FF;
$yellow: #FFD100;
$green: #2CC84D;
$deepgreen: #047433;
$charcoal: #1e1e21;
$slate: #2a2a2e;

$primary-color: $orange;
$base-bg: $slate;

@import "~bulma/sass/utilities/_all";

$mobile-item-bg: $charcoal;

@import "vue-sidebar-menu/src/scss/_variables.scss";

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": (lighten($dark, 5%), $dark-invert),
    "darker": ($base-bg, findColorInvert($base-bg)),
    "primary": ($orange,findColorInvert($orange)),
    "success": ($green, findColorInvert($green)),
    "warning": ($yellow, findColorInvert($yellow)),
    "danger": ($red, findColorInvert($red)),
    "info": ($blue, findColorInvert($blue)),
    
    "red": ($red, findColorInvert($red)),
    "darkred": ($darkred, findColorInvert($darkred)),
    "lightred": ($lightred, findColorInvert($lightred)),
    "blue": ($blue, findColorInvert($blue)),
    "lightblue": ($lightblue, findColorInvert($lightblue)),
    "yellow": ($yellow, findColorInvert($yellow)),
    "green": ($green, findColorInvert($green)),
    "deepgreen": ($deepgreen, findColorInvert($deepgreen)),
    "charcoal": ($charcoal, findColorInvert($charcoal)),
    "slate": ($slate, findColorInvert($slate)),

    "orange": ($orange,findColorInvert($orange)),
    "orange2": ($orange2,findColorInvert($orange2)),
    "orange3": ($orange3,findColorInvert($orange3)),
    "labour": ($red, findColorInvert($red)),
    "national": ($blue, findColorInvert($blue)),
    "act": ($yellow, findColorInvert($yellow)),
    "greens": ($green, findColorInvert($green)),
    "nzf": (darken($charcoal, 5%), findColorInvert($charcoal)),
    "nc": ($lightblue, findColorInvert($lightblue)),
    "maori": ($darkred, findColorInvert($darkred)),
);

$section-padding: 1.5rem 1.5rem;

@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";
@import "vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";

#app {
    padding-left: 350px;
    transition: 0.3s ease;
}

#app.collapsed {
    padding-left: 50px;
}

.v-sidebar-menu {
    .vsm--icon {
        padding: 4px !important;
        height: 22px !important;
        width: 22px !important;
        line-height: 30px !important;
    }

    .vsm--toggle-btn {
        ion-icon {
            font-size: 1.5rem;
        }
    }
}

.dark {
    .table {
        color: $light;
        background-color: $slate;
    
        td {
            border-color: $charcoal;
        }
    
        th {
            border-color: $charcoal;
        }
    
        &.is-hoverable tbody tr:not(.is-selected):hover {
            color: $light;
            background-color: $charcoal;
        }
    
        thead {
            th {
                color: white;
            }
        }
    }

    .input {
        color: $light;
        background-color: $charcoal;
        border-color: $charcoal;

        &::placeholder {
            color: white;
        }
    }
}


.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}